  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="{{url_for('static', filename = 'css/materialize.min.css')}}"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <nav>
        <div class="nav-wrapper #00695c teal darken-3">
          <a href="#" class="brand-logo">Yummy Recipe</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Home</a></li>
            <li><a href="/signup">sign-up</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>
 {% include "_messages.html" %}
    <body>
    <div class="container text">
            <div class="header center black-text  ">
               <h6 class="element"></h6>
           </div>
        </div>

    <div class="container ">
    <div class="section">
    <div class="card">
        <h4 class="align-center teal-text text"> PLEASE LOGIN</h4>
     <div class="row form-body">
            {{ form.csrf_token }}
    <form class="col s6" method="post" action="/login">
      <div class="row">
        <div class="input-field col s6">
          {{form.email}}
        {{form.email.label}}
            {% for message in form.email.errors %}
              <div class="error-msg red-text">{{ message }}</div>
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          {{form.password}}
        {{form.password.label}}
            {% for message in form.password.errors %}
              <div class="error-msg red-text">{{ message }}</div>
          {% endfor %}
        </div>
      </div>
    <button class="waves-effect waves-light btn" type="submit">Login</button>
      <p>don't have an account? <a href="/signup" >sign-up here</a> </p>

    </form>
    </div>
    </div>
    </div>
    </div>

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="{{url_for('static', filename = 'js/materialize.min.js')}}"></script>
    <script src="https://cdn.rawgit.com/mattboldt/typed.js/master/lib/typed.min.js"></script>

    <script>
      var typed = new Typed('.element', {
      strings: ["Y U M M Y   R E C I P E S","Yummy Recipes provide a platform for user to keep track of their awesome recipes",
                "and share with others if they wish too",
                " W E L C O M E",
                ""],
        typeSpeed: 60,
        backSpeed: 50,
        backDelay: 7500,
        startDelay: 10000,
        loop: true,
      });
    </script>
    </body>
  </html>